
<%- include("header") -%> 
<h2>jbndnkbj</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, doloremque suscipit. Expedita saepe molestiae, reiciendis facilis repellat nesciunt neque consequatur?</p>
<%- include("footer") -%> 
